@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@600&display=swap');

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.home-wrapper {
  margin-top: 43px;
  padding: 73px 49px;
  background-color: white;
}

.home {
  &__info {
    display: flex;
    flex-wrap: wrap;

    div {
      display: flex;
      height: 120px;
      width: 300px;
      background-color: black;
      color: white;
      margin: 5px;
      border-radius: 3px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      font-size: 19px;
    }

    div:nth-child(1) {
      flex: 2;
      background-image: url('../../images/home/pizza-1.jpg');
      background-position: center;
      background-size: cover;
    }

    div:nth-child(2) {
      flex: 2;
      background-image: url('../../images/home/pizza-2.jpg');
      background-position: center;
      background-size: cover;
    }

    div:nth-child(3) {
      flex: 100%;
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ff6b6b;
      padding: 25px 0;
    }
    
    div:nth-child(3) span {
      flex: 100%;
      display: flex;
      justify-content: center;
      margin: -10px; /* Usuń margines między spanami */
    }

    div:nth-child(3) span:nth-child(2) {
      font-weight: 100;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
    }
  }

}